# 1. pandas 기초

In [ ]:
import pandas

In [ ]:
df = pandas.DataFrame()
type(df)

pandas.core.frame.DataFrame

In [ ]:
import pandas as pd

df=pd.DataFrame()

type(df)

pandas.core.frame.DataFrame

In [ ]:
df= pd.DataFrame({
    "company":"google",
    "name":["홍길동","김복순","안류정"],
    "age":[22,31,19],
    "pay":[10000,8000,20000]
})

print(df)

  company name  age    pay
0  google  홍길동   22  10000
1  google  김복순   31   8000
2  google  안류정   19  20000

In [ ]:
df

  company name  age    pay
0  google  홍길동   22  10000
1  google  김복순   31   8000
2  google  안류정   19  20000

In [ ]:
    company=["google","google","google"]
    name=["홍길동","김복순","안류정"]
    age=[22,31,19]
    pay=[10000,8000,20000]

df=pd.DataFrame({
    'company' : company,
    'name' : name,
    'age' : age,
    'pay' : pay
})
df

  company name  age    pay
0  google  홍길동   22  10000
1  google  김복순   31   8000
2  google  안류정   19  20000

In [ ]:
company

['google', 'google', 'google']

In [ ]:
df=pd.DataFrame()
df['company'] = company
df

  company
0  google
1  google
2  google

In [ ]:
df['name']=name
df

  company name
0  google  홍길동
1  google  김복순
2  google  안류정

In [ ]:
df['age']=age
df['pay']=pay
df

  company name  age    pay
0  google  홍길동   22  10000
1  google  김복순   31   8000
2  google  안류정   19  20000

In [ ]:
df['new age']=df['age']+1
df['new pay']=df['pay']*1.2
df

  company name  age    pay  new age  new pay
0  google  홍길동   22  10000       23  12000.0
1  google  김복순   31   8000       32   9600.0
2  google  안류정   19  20000       20  24000.0

In [ ]:
print(df.info()) #전체적이 개요를 보여줌

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   company  3 non-null      object
 1   name     3 non-null      object
 2   age      3 non-null      int64
 3   pay      3 non-null      int64
 4   new age  3 non-null      int64
 5   new pay  3 non-null      float64
dtypes: float64(1), int64(3), object(2)
memory usage: 272.0+ bytes
None

In [ ]:
print(df.describe())          #숫자형 자료만 통계적 요약을 해줌

             age           pay    new age       new pay
count   3.000000      3.000000   3.000000      3.000000
mean   24.000000  12666.666667  25.000000  15200.000000
std     6.244998   6429.100507   6.244998   7714.920609
min    19.000000   8000.000000  20.000000   9600.000000
25%    20.500000   9000.000000  21.500000  10800.000000
50%    22.000000  10000.000000  23.000000  12000.000000
75%    26.500000  15000.000000  27.500000  18000.000000
max    31.000000  20000.000000  32.000000  24000.000000

In [ ]:
df.describe()['age']['min']

19.0

In [ ]:
df.describe()['new age']['max']

32.0

In [ ]:
print(df['age'])

0    22
1    31
2    19
Name: age, dtype: int64

In [ ]:
df['age']     #가독성이 좋음

0    22
1    31
2    19
Name: age, dtype: int64

In [ ]:
df.age        #편리성

0    22
1    31
2    19
Name: age, dtype: int64

In [ ]:
print(df)

  company name  age    pay  new age  new pay
0  google  홍길동   22  10000       23  12000.0
1  google  김복순   31   8000       32   9600.0
2  google  안류정   19  20000       20  24000.0

In [ ]:
#행을 받는데 칼럼을 어디까지 받을건지 결정하는 함수
#loc  칼럼의 이름으로 받는 방법
print(df.loc[2,'company':'new pay'])

company     google
name           안류정
age             19
pay          20000
new age         20
new pay    24000.0
Name: 2, dtype: object

In [ ]:
#iloc 칼럼의 좌표로 받는 방법
print(df.iloc[2,0:6])

company     google
name           안류정
age             19
pay          20000
new age         20
new pay    24000.0
Name: 2, dtype: object

In [ ]:
df

  company name  age    pay  new age  new pay
0  google  홍길동   22  10000       23  12000.0
1  google  김복순   31   8000       32   9600.0
2  google  안류정   19  20000       20  24000.0

In [ ]:
print(df['new pay'][0])

12000.0

In [ ]:
print(df['new pay'][1])

9600.0

In [ ]:
print(df['new pay'][2])

24000.0

In [ ]:
df['new pay'][0:3].values

array([12000.,  9600., 24000.])

In [ ]:
df['new pay'][:-1].values

array([12000.,  9600.])

In [ ]:
df['new pay'][0]=14000.00 #데이터 프레임 값 변경하기

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df

In [ ]:
#여러가지 행을 나타낼때는 대괄호 두번 해야함
df[['new age','new pay']]

In [ ]:
df2=df[['new age','new pay']]
df2

In [ ]:
#다른 파일 가져오기
df=pd.read_csv("/content/sample_data/california_housing_train.csv")
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
print(df.iloc[0,0:9])

In [ ]:
#구글 드라이브에서 파일 가져올때
from google.colab import drive
drive.mount('./gdrive')

In [ ]:
pd.read_csv("/content/sample_data/mnist_train_small.csv")

,6,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19995,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from google.colab import files
files.upload()

{}

In [ ]:
df

,id,Name,Writer,Likes,Genre,Rating,Subscribers,Summary,Update,Reading Link
0,1,Let's Play,Leeanne M. Krecic (Mongie),30600000,Romance,9.62,4200000,"She's young, single and about to achieve her d...",UP EVERY TUESDAY,https://www.webtoons.com/en/romance/letsplay/l...
1,2,True Beauty,Yaongyi,39900000,Romance,9.60,6400000,"After binge-watching beauty videos online, a s...",UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/truebeauty...
2,3,Midnight Poppy Land,Lilydusk,10400000,Romance,9.81,2100000,After making a grisly discovery in the country...,UP EVERY SATURDAY,https://www.webtoons.com/en/romance/midnight-p...
3,4,Age Matters,Enjelicious,25900000,Romance,9.79,3500000,She's a hopeless romantic who's turning 30's ...,UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/age-matter...
4,5,Unholy Blood,Lina Im / Jeonghyeon Kim,9900000,Supernatural,9.85,1500000,When vampires destroy her chance to have the n...,UP EVERY THURSDAY,https://www.webtoons.com/en/supernatural/unhol...
...,...,...,...,...,...,...,...,...,...,...
1109,1110,WEBTOON Now,LOZOLZ / Wyatt the Cat,1900000,Informative,9.25,459200,Get your WEBTOON news here!,UP EVERY MONDAY,https://www.webtoons.com/en/tiptoon/webtoon-no...
1110,1111,Staying Healthy Together,Various Artists,1500000,Informative,9.76,204600,A series of tips for staying safe during the C...,COMPLETED,https://www.webtoons.com/en/tiptoon/staying-he...
1111,1112,Cooking Comically,Tyler Capps,268219,Informative,9.63,126100,Cooking Comically is an admittedly weird mash ...,COMPLETED,https://www.webtoons.com/en/tiptoon/cooking-co...
1112,1113,ã„´ã…‡ã„¹ã…‡ã„´ã„¹,LOZOLZ,265458,Informative,8.83,109100,The mysterious team that brings Webtoon to you...,COMPLETED,https://www.webtoons.com/en/tiptoon/lozolz/lis...
1113,1114,Illuminated,Rachel Song / Maria Nguyen,127401,Informative,9.33,112500,A WEBTOON x 88rising memoir series that spotli...,COMPLETED,https://www.webtoons.com/en/tiptoon/illuminate...

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.describe()['longitude']

count    17000.000000
mean      -119.562108
std          2.005166
min       -124.350000
25%       -121.790000
50%       -118.490000
75%       -118.000000
max       -114.310000
Name: longitude, dtype: float64

In [ ]:
df.describe()['longitude']['count']

17000.0

In [ ]:
df.head()      #처음부터 5개의 변수

In [ ]:
df.head(10)   #10개 보고 싶을떄

In [ ]:
df.tail()     #뒤에서 5개의 변수

# 2. Pandas 비기너1

In [ ]:
import pandas as pd

pd.set_option('display.max_columns', None)
df= pd.read_csv("/content/sample_data/california_housing_train.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [ ]:
df.describe()

In [ ]:
df.head(10)

In [ ]:
df.tail(10)

In [ ]:
df.shape       #17000개 행과 9개의 열

In [ ]:
df.shape[0]
df.shape[1]

In [ ]:
df.columns

In [ ]:
df.columns[1:10]

In [ ]:
#null값 확인 및 대체하는 방법
#수학적 연산을 위해 numpy 라이브러리 사용
# quantile 함수 : 상위 x%를 분별하는 함수
import numpy as np
df[ (df > df.quantile(0.4)) & (df < df.quantile(0.6)) ]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,NaN,34.19,NaN,NaN,NaN,1015.0,NaN,NaN,NaN
1,NaN,34.40,NaN,NaN,NaN,1129.0,463.0,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.1917,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
16995,NaN,NaN,NaN,2217.0,394.0,NaN,369.0,NaN,NaN
16996,NaN,NaN,NaN,2349.0,NaN,1194.0,465.0,NaN,NaN
16997,NaN,NaN,NaN,NaN,NaN,1244.0,456.0,NaN,NaN
16998,NaN,NaN,NaN,NaN,NaN,1298.0,NaN,NaN,NaN
16999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df > df.quantile(0.4) #true false 로 결과가 나옴

In [ ]:
df[(df > df.quantile(0.4))] #값과 nan으로 결과가 나옴

In [ ]:
df[ (df > df.quantile(0.4)) & (df < df.quantile(0.6)) ] = np.nan          #상위 40~60프로 값들 Nan으로 대치
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31       NaN                15.0       5612.0          1283.0
1        -114.47       NaN                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0          NaN             NaN
16996    -124.27     40.69                36.0          NaN           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0             NaN       472.0         1.4936             66900.0
1             NaN         NaN         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0            NaN             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0         NaN         2.3571            111400.0
16996         NaN         NaN         2.5179             79000.0
16997         NaN         NaN         3.0313            103600.0
16998         NaN       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
df.info()

In [ ]:
df.isnull()  #null 값인 변수들을 TRUE로 출력

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,False,True,False,False,False,True,False,False,False
1,False,True,False,False,False,True,True,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
16995,False,False,False,True,True,False,True,False,False
16996,False,False,False,True,False,True,True,False,False
16997,False,False,False,False,False,True,True,False,False
16998,False,False,False,False,False,True,False,False,False
16999,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum(axis=1)  #anxis에 따라(1 or 0) 가로값 계산

0        2
1        3
2        0
3        1
4        0
        ..
16995    3
16996    3
16997    2
16998    1
16999    0
Length: 17000, dtype: int64

In [ ]:
df.isnull().sum(axis=0)       #anxis에 따라(1 or 0) 세로값 계산

longitude             3292
latitude              3369
housing_median_age    2900
total_rooms           3395
total_bedrooms        3378
population            3389
households            3383
median_income         3399
median_house_value    3395
dtype: int64

In [ ]:
df.isnull().mean()

In [ ]:
df.isnull().var()

In [ ]:
df.isnull().std()

In [ ]:
(df.isnull() == True)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,False,True,False,False,False,True,False,False,False
1,False,True,False,False,False,True,True,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
16995,False,False,False,True,True,False,True,False,False
16996,False,False,False,True,False,True,True,False,False
16997,False,False,False,False,False,True,True,False,False
16998,False,False,False,False,False,True,False,False,False
16999,False,False,False,False,False,False,False,False,False

In [ ]:
df[(df.isnull() == False)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,NaN,15.0,5612.0,1283.0,NaN,472.0,1.4936,66900.0
1,-114.47,NaN,19.0,7650.0,1901.0,NaN,NaN,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,NaN,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,NaN,NaN,907.0,NaN,2.3571,111400.0
16996,-124.27,40.69,36.0,NaN,528.0,NaN,NaN,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,NaN,NaN,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,NaN,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
df[(df['longitude'].isnull() == False)]     #longitude에서 Nan값이 아닌 것들 출력

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,NaN,15.0,5612.0,1283.0,NaN,472.0,1.4936,66900.0
1,-114.47,NaN,19.0,7650.0,1901.0,NaN,NaN,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,NaN,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,NaN,NaN,907.0,NaN,2.3571,111400.0
16996,-124.27,40.69,36.0,NaN,528.0,NaN,NaN,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,NaN,NaN,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,NaN,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
df[(df['longitude'].isnull() == True)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
6904,NaN,36.94,35.0,2563.0,530.0,861.0,NaN,2.3250,80600.0
6905,NaN,NaN,18.0,NaN,642.0,799.0,335.0,1.8419,92300.0
6906,NaN,NaN,34.0,3258.0,610.0,1810.0,633.0,5.1145,219900.0
6907,NaN,NaN,35.0,1446.0,274.0,759.0,291.0,6.0808,215600.0
6908,NaN,NaN,38.0,NaN,NaN,NaN,NaN,4.2685,NaN
...,...,...,...,...,...,...,...,...,...
10191,NaN,NaN,19.0,NaN,NaN,1416.0,NaN,2.4474,75600.0
10192,NaN,NaN,34.0,1175.0,251.0,683.0,261.0,1.7176,58400.0
10193,NaN,NaN,24.0,1576.0,580.0,1630.0,531.0,1.2400,325000.0
10194,NaN,NaN,NaN,1062.0,309.0,NaN,305.0,1.5071,316700.0
10195,NaN,NaN,NaN,1626.0,375.0,1580.0,NaN,2.1471,NaN

In [ ]:
#인덱스 제거
df2=df[(df['longitude'].isnull() == False)]
print(df2.reset_index(drop=True))

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31       NaN                15.0       5612.0          1283.0
1        -114.47       NaN                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
13703    -124.26     40.58                52.0          NaN             NaN
13704    -124.27     40.69                36.0          NaN           528.0
13705    -124.30     41.84                17.0       2677.0           531.0
13706    -124.30     41.80                19.0       2672.0           552.0
13707    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0             NaN       472.0         1.4936             66900.0
1             NaN         NaN         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0            NaN             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
13703       907.0         NaN         2.3571            111400.0
13704         NaN         NaN         2.5179             79000.0
13705         NaN         NaN         3.0313            103600.0
13706         NaN       478.0         1.9797             85800.0
13707       806.0       270.0         3.0147             94600.0

[13708 rows x 9 columns]

In [ ]:
df2

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,NaN,15.0,5612.0,1283.0,NaN,472.0,1.4936,66900.0
1,-114.47,NaN,19.0,7650.0,1901.0,NaN,NaN,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,NaN,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,NaN,NaN,907.0,NaN,2.3571,111400.0
16996,-124.27,40.69,36.0,NaN,528.0,NaN,NaN,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,NaN,NaN,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,NaN,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
df3=df2.reset_index(drop=True)
df3

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,NaN,15.0,5612.0,1283.0,NaN,472.0,1.4936,66900.0
1,-114.47,NaN,19.0,7650.0,1901.0,NaN,NaN,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,NaN,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
13703,-124.26,40.58,52.0,NaN,NaN,907.0,NaN,2.3571,111400.0
13704,-124.27,40.69,36.0,NaN,528.0,NaN,NaN,2.5179,79000.0
13705,-124.30,41.84,17.0,2677.0,531.0,NaN,NaN,3.0313,103600.0
13706,-124.30,41.80,19.0,2672.0,552.0,NaN,478.0,1.9797,85800.0
13707,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
print(df2.reset_index(drop = False))  #False 값을 넣으면 새로운 인덱스 column이 생긴다.

       index  longitude  latitude  housing_median_age  total_rooms  \
0          0    -114.31       NaN                15.0       5612.0
1          1    -114.47       NaN                19.0       7650.0
2          2    -114.56     33.69                17.0        720.0
3          3    -114.57     33.64                14.0       1501.0
4          4    -114.57     33.57                20.0       1454.0
...      ...        ...       ...                 ...          ...
13703  16995    -124.26     40.58                52.0          NaN
13704  16996    -124.27     40.69                36.0          NaN
13705  16997    -124.30     41.84                17.0       2677.0
13706  16998    -124.30     41.80                19.0       2672.0
13707  16999    -124.35     40.54                52.0       1820.0

       total_bedrooms  population  households  median_income  \
0              1283.0         NaN       472.0         1.4936
1              1901.0         NaN         NaN         1.8200
2               174.0       333.0       117.0         1.6509
3               337.0       515.0       226.0            NaN
4               326.0       624.0       262.0         1.9250
...               ...         ...         ...            ...
13703             NaN       907.0         NaN         2.3571
13704           528.0         NaN         NaN         2.5179
13705           531.0         NaN         NaN         3.0313
13706           552.0         NaN       478.0         1.9797
13707           300.0       806.0       270.0         3.0147

       median_house_value
0                 66900.0
1                 80100.0
2                 85700.0
3                 73400.0
4                 65500.0
...                   ...
13703            111400.0
13704             79000.0
13705            103600.0
13706             85800.0
13707             94600.0

[13708 rows x 10 columns]

In [ ]:
#새로운 데이터프레임으로 설정하지 않고 바로 대체하는 방법
df2.reset_index(drop=True, inplace=True)
df2

### 예제 1

In [ ]:
#colab 상의 sample_data로 제공되는 
#california_housing_train 데이터셋을 불러와, 
#상위 10% 이상에 해당하는 값들을 nan으로 치환하세요

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv('/content/sample_data/california_housing_train.csv')
df[ (df >= df.quantile(0.9))]=np.nan
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,NaN,34.19,15.0,NaN,NaN,1015.0,472.0,1.4936,66900.0
1,NaN,34.40,19.0,NaN,NaN,1129.0,463.0,1.8200,80100.0
2,NaN,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,NaN,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,NaN,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,NaN,NaN,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,NaN,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,NaN,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,NaN,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,NaN,NaN,1820.0,300.0,806.0,270.0,3.0147,94600.0

### 예제 2

In [ ]:
#위에서 치환한 값들 중 total_rooms 칼럼이 null인 경우만 
#슬라이싱해서 df2에 저장하세요 이때 인덱스를 초기화하세요

In [ ]:
import pandas as pd
import numpy as np
df1=df[(df['total_rooms'].isnull()==True)]
df2=df1.reset_index(drop=True)
df2
df3= df[df['total_rooms'].isnull()==True].reset_index(drop=True)
df3

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,NaN,34.19,15.0,NaN,NaN,1015.0,472.0,1.4936,66900.0
1,NaN,34.40,19.0,NaN,NaN,1129.0,463.0,1.8200,80100.0
2,NaN,33.61,34.0,NaN,NaN,NaN,NaN,2.1782,58400.0
3,NaN,34.15,15.0,NaN,NaN,NaN,NaN,2.2466,66800.0
4,NaN,34.15,13.0,NaN,NaN,NaN,NaN,2.6111,65600.0
...,...,...,...,...,...,...,...,...,...
1695,-123.22,NaN,16.0,NaN,NaN,NaN,NaN,3.1455,142900.0
1696,-123.34,NaN,24.0,NaN,NaN,NaN,NaN,3.0652,131100.0
1697,-123.49,NaN,9.0,NaN,NaN,594.0,327.0,3.3125,295400.0
1698,-123.59,NaN,17.0,NaN,NaN,1742.0,803.0,3.1201,176100.0
1699,-124.19,NaN,21.0,NaN,NaN,NaN,NaN,3.5363,90100.0

### 예제 3

In [ ]:
#df2의 population 칼럼의 na 개수를 출력하세요

In [ ]:
df2['population'].isnull().sum()


len(df2[df2.population.isnull()==True])

1183

# Pandas 비기너 2

## 정렬

In [ ]:
import pandas as pd
df=pd.read_csv("/content/sample_data/california_housing_train.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
#정렬
print(df.sort_values("housing_median_age"))  #오름차순

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
13708    -122.00     38.23                 1.0       2062.0           343.0
10993    -120.93     37.65                 1.0       2254.0           328.0
1353     -117.17     34.12                 2.0       3867.0           573.0
8765     -118.61     34.38                 2.0       5989.0           883.0
8672     -118.56     34.42                 2.0        966.0           270.0
...          ...       ...                 ...          ...             ...
15193    -122.27     37.89                52.0       2640.0           366.0
15192    -122.27     37.89                52.0       3046.0           373.0
15190    -122.27     37.90                52.0       1803.0           240.0
15209    -122.27     37.85                52.0       1974.0           426.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
13708       872.0       268.0         5.2636            191300.0
10993       402.0       112.0         4.2500            189200.0
1353       1275.0       433.0         5.4138            164400.0
8765       1787.0       613.0         6.6916            329500.0
8672        233.0       169.0         1.9667            450000.0
...           ...         ...            ...                 ...
15193       973.0       355.0         7.2660            371100.0
15192       975.0       365.0         8.8342            430500.0
15190       572.0       236.0         6.1740            358800.0
15209       875.0       363.0         1.5817            153600.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
print(df.sort_values("housing_median_age",ascending =False))  #내림차순

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
16999    -124.35     40.54                52.0       1820.0           300.0
14561    -122.16     38.05                52.0       1888.0           457.0
6551     -118.28     34.18                52.0       2602.0           418.0
4420     -118.03     33.99                52.0       2792.0           461.0
14579    -122.16     37.74                52.0        771.0           147.0
...          ...       ...                 ...          ...             ...
1880     -117.28     34.06                 2.0       1658.0           290.0
4274     -118.01     34.55                 2.0       2701.0           530.0
2771     -117.70     33.51                 2.0       5261.0           763.0
10993    -120.93     37.65                 1.0       2254.0           328.0
13708    -122.00     38.23                 1.0       2062.0           343.0

       population  households  median_income  median_house_value
16999       806.0       270.0         3.0147             94600.0
14561       830.0       408.0         3.1373            185100.0
6551       1137.0       419.0         5.3185            358000.0
4420       1177.0       439.0         3.4312            243800.0
14579       355.0       144.0         4.1458            143400.0
...           ...         ...            ...                 ...
1880        868.0       304.0         5.1365            136700.0
4274       1368.0       430.0         4.0710            137400.0
2771       1460.0       599.0         6.8279            279000.0
10993       402.0       112.0         4.2500            189200.0
13708       872.0       268.0         5.2636            191300.0

[17000 rows x 9 columns]

In [ ]:
# 정렬을 하나의 칼럼이 아닌 여러칼럼으로 지정할수 있음.
print(df.sort_values(['housing_median_age','total_rooms'],ascending=True))
#앞에 있는 칼럼을 기준으로 먼저 정렬하고 그속에서 다음 칼럼을 정렬함.

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
13708    -122.00     38.23                 1.0       2062.0           343.0
10993    -120.93     37.65                 1.0       2254.0           328.0
113      -115.80     33.26                 2.0         96.0            18.0
13345    -121.93     37.78                 2.0        227.0            35.0
1834     -117.27     33.93                 2.0        337.0            55.0
...          ...       ...                 ...          ...             ...
12193    -121.46     38.58                52.0       4408.0           807.0
16210    -122.48     37.79                52.0       4683.0          1055.0
11163    -121.03     40.35                52.0       5486.0          1044.0
15773    -122.41     37.79                52.0       5783.0          2747.0
15772    -122.41     37.79                52.0       6016.0          2509.0

       population  households  median_income  median_house_value
13708       872.0       268.0         5.2636            191300.0
10993       402.0       112.0         4.2500            189200.0
113          30.0        16.0         5.3374             47500.0
13345       114.0        49.0         3.1591            434700.0
1834        115.0        49.0         3.1042            164800.0
...           ...         ...            ...                 ...
12193      1604.0       777.0         3.8914            181600.0
16210      2246.0       975.0         4.1148            457800.0
11163      1977.0       754.0         2.1833             49500.0
15773      4518.0      2538.0         1.7240            225000.0
15772      3436.0      2119.0         2.5166            275000.0

[17000 rows x 9 columns]

In [ ]:
print(df.sort_values(['housing_median_age','total_rooms'],ascending=[False,True]))
#ascending도 리스트로 나누면 해당 하는 각 칼럼을 오름,내림으로 바꿀수 있음.

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
16309    -122.50     37.79                52.0          8.0             1.0
12238    -121.47     38.51                52.0         20.0             4.0
5955     -118.21     34.02                52.0         22.0             7.0
2889     -117.75     34.06                52.0         24.0             6.0
11715    -121.30     37.94                52.0         24.0             6.0
...          ...       ...                 ...          ...             ...
2372     -117.52     33.89                 2.0      17978.0          3217.0
1321     -117.16     33.57                 2.0      20391.0          3245.0
11864    -121.35     38.72                 2.0      21897.0          3513.0
13708    -122.00     38.23                 1.0       2062.0           343.0
10993    -120.93     37.65                 1.0       2254.0           328.0

       population  households  median_income  median_house_value
16309        13.0         1.0        15.0001            500001.0
12238        74.0         9.0         3.6250             80000.0
5955         55.0         7.0         7.5752             67500.0
2889         46.0         7.0         1.6250             67500.0
11715        23.0         5.0         2.3750             67500.0
...           ...         ...            ...                 ...
2372       7305.0      2463.0         5.1695            220800.0
1321       7132.0      2716.0         3.9443            187300.0
11864      8652.0      2873.0         4.5432            151300.0
13708       872.0       268.0         5.2636            191300.0
10993       402.0       112.0         4.2500            189200.0

[17000 rows x 9 columns]

## 특정값 대체

In [ ]:
#특정값 대체
#median value 칼럼을 평균 이상의 값들을 평균으로 대체하는 방법
print(df["median_house_value"].mean())

207300.91235294117

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
print(df[df['median_house_value'] >= df['median_house_value'].mean()])

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
172      -116.26     33.65                 3.0       7437.0          1222.0
187      -116.33     33.72                11.0      12327.0          2000.0
193      -116.37     33.69                 7.0       8806.0          1542.0
199      -116.38     33.71                17.0      12509.0          2460.0
203      -116.39     33.69                10.0      11659.0          2007.0
...          ...       ...                 ...          ...             ...
16802    -123.17     39.18                14.0       2240.0           327.0
16854    -123.49     38.70                 9.0       5409.0          1019.0
16865    -123.70     39.32                18.0       1652.0           352.0
16879    -123.81     39.34                17.0       1981.0           371.0
16880    -123.81     39.31                23.0       2754.0           577.0

       population  households  median_income  median_house_value
172         574.0       302.0        10.2948            382400.0
187        2450.0      1139.0         7.4382            353100.0
193         858.0       448.0         7.8005            318100.0
199        2737.0      1423.0         4.5556            258100.0
203        2186.0      1083.0         6.9833            238800.0
...           ...         ...            ...                 ...
16802      1030.0       308.0         5.9585            214900.0
16854       594.0       327.0         3.3125            295400.0
16865       711.0       292.0         3.1071            213200.0
16879       773.0       325.0         3.1563            277000.0
16880       887.0       432.0         3.3654            225000.0

[6891 rows x 9 columns]

In [ ]:
print(df['median_house_value'][df['median_house_value'] >= df['median_house_value'].mean()])

172      382400.0
187      353100.0
193      318100.0
199      258100.0
203      238800.0
           ...
16802    214900.0
16854    295400.0
16865    213200.0
16879    277000.0
16880    225000.0
Name: median_house_value, Length: 6891, dtype: float64

In [ ]:
print(df[df['median_house_value'] >= df['median_house_value'].mean()]['median_house_value'])

172      382400.0
187      353100.0
193      318100.0
199      258100.0
203      238800.0
           ...
16802    214900.0
16854    295400.0
16865    213200.0
16879    277000.0
16880    225000.0
Name: median_house_value, Length: 6891, dtype: float64

In [ ]:
df['median_house_value'][df['median_house_value'] >= df['median_house_value'].mean()] = df['median_house_value'].mean()
print(df['median_house_value'].mean())

161478.11664847747

In [ ]:
#수치가 아닌 데이터 유형이 다른 값을 다뤄보겠습니다.
df['house_price'] = df['median_house_value'].map(lambda x : "$"+str(int(x)))
print(df)
#map함수는 칼럼의 각각의 값에 일관된 규칙을 적용할때 사용하는 함수
#map과 비슷한 방법은 함수를 만든뒤 적용하는 apply와 비슷함.

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value house_price
0          1015.0       472.0         1.4936             66900.0      $66900
1          1129.0       463.0         1.8200             80100.0      $80100
2           333.0       117.0         1.6509             85700.0      $85700
3           515.0       226.0         3.1917             73400.0      $73400
4           624.0       262.0         1.9250             65500.0      $65500
...           ...         ...            ...                 ...         ...
16995       907.0       369.0         2.3571            111400.0     $111400
16996      1194.0       465.0         2.5179             79000.0      $79000
16997      1244.0       456.0         3.0313            103600.0     $103600
16998      1298.0       478.0         1.9797             85800.0      $85800
16999       806.0       270.0         3.0147             94600.0      $94600

[17000 rows x 10 columns]

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
 9   house_price         17000 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.3+ MB
None

In [ ]:
df['house_price'] = df['house_price'].str.replace("$","")
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value house_price
0          1015.0       472.0         1.4936             66900.0       66900
1          1129.0       463.0         1.8200             80100.0       80100
2           333.0       117.0         1.6509             85700.0       85700
3           515.0       226.0         3.1917             73400.0       73400
4           624.0       262.0         1.9250             65500.0       65500
...           ...         ...            ...                 ...         ...
16995       907.0       369.0         2.3571            111400.0      111400
16996      1194.0       465.0         2.5179             79000.0       79000
16997      1244.0       456.0         3.0313            103600.0      103600
16998      1298.0       478.0         1.9797             85800.0       85800
16999       806.0       270.0         3.0147             94600.0       94600

[17000 rows x 10 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
 9   house_price         17000 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.3+ MB
None

In [ ]:
#해당 칼럼의 타입자체를 바꿔주는 과정 astype!
df['house_price'] = df['house_price'].astype('int')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
 9   house_price         17000 non-null  int64
dtypes: float64(9), int64(1)
memory usage: 1.3 MB
None

In [ ]:
#총정리!!!!!
# 새로운 칼럼 생성
df['house_price'] = df['median_house_value'].map(lambda x : "$"+str(int(x)))

# 새로운 칼럼에서 문자를 제거하고, 정수형 데이터 타입으로 변경
df['house_price'] = df['house_price'].str.replace("$","").astype('int')

# 결과 확인
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
 9   house_price         17000 non-null  int64
dtypes: float64(9), int64(1)
memory usage: 1.3 MB
None

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """

In [ ]:
# 새로운 칼럼 생성
df['house_price'] = df['median_house_value'].map(lambda x : "$"+str(int(x)))

print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value house_price
0          1015.0       472.0         1.4936             66900.0      $66900
1          1129.0       463.0         1.8200             80100.0      $80100
2           333.0       117.0         1.6509             85700.0      $85700
3           515.0       226.0         3.1917             73400.0      $73400
4           624.0       262.0         1.9250             65500.0      $65500
...           ...         ...            ...                 ...         ...
16995       907.0       369.0         2.3571            111400.0     $111400
16996      1194.0       465.0         2.5179             79000.0      $79000
16997      1244.0       456.0         3.0313            103600.0     $103600
16998      1298.0       478.0         1.9797             85800.0      $85800
16999       806.0       270.0         3.0147             94600.0      $94600

[17000 rows x 10 columns]

In [ ]:
df['new_price'] = df['house_price'].map(lambda x : (int(x.replace("$",""))))
print(df)

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
 9   house_price         17000 non-null  object
 10  new_price           17000 non-null  int64
dtypes: float64(9), int64(1), object(1)
memory usage: 1.4+ MB
None

In [ ]:
#사용자정의함수로 지정해서 변환하는것
def calculator(a, b) :
  result = a + b
  return result

In [ ]:
  print(calculator(1,4))

5

In [ ]:

def calculator(a, b, c) :
  c = c.lower()
  if c == "plus" :
    return a+b
  elif c == "minus" :
    return abs(a-b)
  elif c == "multi":
    return a * b
  elif c == "div" :
    return max(a/b, b/a)
  else :
    raise Exception("Incorrect caculate Command")

In [ ]:
calculator(1,5,"div")

5.0

In [ ]:
calculator(1,5,"root")

In [ ]:
def modifier(string) :
    return int(string.replace("$",""))

df['new_price'] = df['house_price'].apply(modifier)
print(df)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
 9   house_price         17000 non-null  object
 10  new_price           17000 non-null  int64
dtypes: float64(9), int64(1), object(1)
memory usage: 1.4+ MB

## 예제 1

In [ ]:
'''
sample_data의 california_housing_train 데이터를 불러와
housing_median_age를 이용해 십년 단위로 연차를 구분해 
'housing_period'라는 이름의 칼럼에 저장하세요
단위는 '+ years' 를 뒤에 붙이고, 숫자는 소수점이 없는 정수형으로 나타내세요.
이때 위에서 배운 세 가지 방법을 모두 사용해서 풀어보세요.
ex) 15.0 -> 10+ years, 20.0 -> 20+ years
'''

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv("/content/sample_data/california_housing_train.csv")
df['housing_period']=(df['housing_median_age']//10*10)
df['housing_period']=df['housing_period'].map(lambda x:str(int(x))+ '+ years')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,housing_period
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,10+ years
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,10+ years
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,10+ years
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,10+ years
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,20+ years
...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,50+ years
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,30+ years
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,10+ years
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,10+ years
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,50+ years

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df['housing_period'] = (df['housing_median_age'] // 10 * 10).astype('int').astype('str')
df['housing_period'] = df['housing_period']  + '+ years'
print(df)

In [ ]:

def modifier(x) :
  return str(int(x) // 10 * 10) + "+ years"

df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df['housing_period'] = df['housing_median_age'].apply(modifier)
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value  \
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

      housing_period
0          10+ years
1          10+ years
2          10+ years
3          10+ years
4          20+ years
...              ...
16995      50+ years
16996      30+ years
16997      10+ years
16998      10+ years
16999      50+ years

[17000 rows x 10 columns]

## 예제 2

In [ ]:
'''
위에서 생성한 'housing_period' 칼럼을 이용해 20년 미만의 경우 good, 
20년 이상 40년 미만의 경우 normal, 40년 이상의 경우 bad
라는 결과를 가진 'period_grade' 칼럼을 생성하세요.
(사용자 정의 함수를 사용하는 것이 쉬우며, 
map과 lambda를 사용하는 경우에는 lambda 내부의 
조건문 사용이 필요합니다.)
'''

In [ ]:
def choose(x):
  x = int(x[:-7])

  if x < 20 :
    return "good"
  elif x < 40 :
    return "normal"
  else :
    return "bad"

df['period_grade'] = df['housing_period'].apply(choose)
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value  \
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

      housing_period period_grade
0          10+ years         good
1          10+ years         good
2          10+ years         good
3          10+ years         good
4          20+ years       normal
...              ...          ...
16995      50+ years          bad
16996      30+ years       normal
16997      10+ years         good
16998      10+ years         good
16999      50+ years          bad

[17000 rows x 11 columns]

## 예제 3

In [ ]:
'''
period_grade가 good인 row의 'house_price' 가격의 평균과 
bad인 row의 'house_price' 가격의 평균을 각각 구하고, 그 차이를 구하세요
'''

In [ ]:
good=df[df['period_grade']=='good']['median_house_value'].mean().round()
bad=df[df['period_grade']=='bad']['median_house_value'].mean().round()
diff=good-bad
print(good, bad, diff)

193820.0 228626.0 -34806.0

# pandas 중급자 1

In [ ]:
import pandas as pd
DataUrl= 'https://raw.githubusercontent.com/leadbreak/inflearn_lecture/main/datasets/covid-variants.csv'

df= pd.read_csv(DataUrl)
df

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-12-21,B.1.160,0.0,0.0,93
1,Angola,2020-12-21,B.1.620,0.0,0.0,93
2,Angola,2020-12-21,B.1.258,0.0,0.0,93
3,Angola,2020-12-21,B.1.221,NaN,NaN,93
4,Angola,2020-12-21,B.1.1.302,NaN,NaN,93
...,...,...,...,...,...,...
40705,Zimbabwe,2021-07-26,Mu,NaN,NaN,35
40706,Zimbabwe,2021-07-26,S:677P.Pelican,NaN,NaN,35
40707,Zimbabwe,2021-07-26,S:677H.Robin1,NaN,NaN,35
40708,Zimbabwe,2021-07-26,others,0.0,0.0,35
40709,Zimbabwe,2021-07-26,non_who,0.0,0.0,35

## 이상치 확인(EDA)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40710 entries, 0 to 40709
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   location             40710 non-null  object
 1   date                 40710 non-null  object
 2   variant              40710 non-null  object
 3   num_sequences        25371 non-null  float64
 4   perc_sequences       25371 non-null  float64
 5   num_sequences_total  40710 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.9+ MB

In [ ]:
df.describe()

       num_sequences  perc_sequences  num_sequences_total
count   25371.000000    25371.000000         40710.000000
mean      161.081629       10.437530          1836.343503
std      1692.128222       26.411413          6818.843214
min         0.000000       -0.010000            30.000000
25%         0.000000        0.000000            73.000000
50%         0.000000        0.000000           198.500000
75%         8.000000        1.790000           901.000000
max    105252.000000      100.000000        108168.000000

In [ ]:
df[df.perc_sequences == df.perc_sequences.min()]

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
228,Angola,2021-06-28,others,0.0,-0.01,45
229,Angola,2021-06-28,non_who,0.0,-0.01,45

In [ ]:
df[(df.num_sequences==0)&(df.perc_sequences != 0)]

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
228,Angola,2021-06-28,others,0.0,-0.01,45
229,Angola,2021-06-28,non_who,0.0,-0.01,45
1171,Aruba,2021-06-14,others,0.0,0.01,98
1172,Aruba,2021-06-14,non_who,0.0,0.01,98
8945,Curacao,2021-07-12,others,0.0,0.01,38
8946,Curacao,2021-07-12,non_who,0.0,0.01,38
19893,Japan,2021-08-23,others,0.0,0.01,255
19894,Japan,2021-08-23,non_who,0.0,0.01,255
20790,Kuwait,2021-06-28,others,0.0,0.01,39
20791,Kuwait,2021-06-28,non_who,0.0,0.01,39
24033,Montenegro,2021-08-09,others,0.0,0.01,59
24034,Montenegro,2021-08-09,non_who,0.0,0.01,59
26448,Norway,2021-08-09,others,0.0,0.01,1240
26449,Norway,2021-08-09,non_who,0.0,0.01,1240
26747,Pakistan,2021-07-12,others,0.0,0.01,43
26748,Pakistan,2021-07-12,non_who,0.0,0.01,43
28817,Portugal,2021-08-09,others,0.0,0.01,954
28818,Portugal,2021-08-09,non_who,0.0,0.01,954
31623,Slovakia,2021-02-22,others,0.0,0.01,62
37580,Thailand,2021-06-28,others,0.0,0.01,87
37581,Thailand,2021-06-28,non_who,0.0,0.01,87
38454,Uganda,2021-06-28,others,0.0,0.01,52
38455,Uganda,2021-06-28,non_who,0.0,0.01,52

## 결측치 처리방벙(dropna, fillna)

In [ ]:
#입력이 없어서 NA로 표현되는 값들을 없애는 방법 DROPNA

In [ ]:
df.dropna()

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-12-21,B.1.160,0.0,0.00,93
1,Angola,2020-12-21,B.1.620,0.0,0.00,93
2,Angola,2020-12-21,B.1.258,0.0,0.00,93
8,Angola,2020-12-21,B.1.177,0.0,0.00,93
9,Angola,2020-12-21,Beta,68.0,73.12,93
...,...,...,...,...,...,...
40686,Zimbabwe,2021-07-12,non_who,0.0,0.00,42
40696,Zimbabwe,2021-07-26,Beta,0.0,0.00,35
40699,Zimbabwe,2021-07-26,Delta,35.0,100.00,35
40708,Zimbabwe,2021-07-26,others,0.0,0.00,35
40709,Zimbabwe,2021-07-26,non_who,0.0,0.00,35

In [ ]:
df.dropna(subset=['num_sequences','perc_sequences'])

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-12-21,B.1.160,0.0,0.00,93
1,Angola,2020-12-21,B.1.620,0.0,0.00,93
2,Angola,2020-12-21,B.1.258,0.0,0.00,93
8,Angola,2020-12-21,B.1.177,0.0,0.00,93
9,Angola,2020-12-21,Beta,68.0,73.12,93
...,...,...,...,...,...,...
40686,Zimbabwe,2021-07-12,non_who,0.0,0.00,42
40696,Zimbabwe,2021-07-26,Beta,0.0,0.00,35
40699,Zimbabwe,2021-07-26,Delta,35.0,100.00,35
40708,Zimbabwe,2021-07-26,others,0.0,0.00,35
40709,Zimbabwe,2021-07-26,non_who,0.0,0.00,35

In [ ]:
#axis를 활용한 열단위 삭제
df.dropna(axis=1)

       location        date         variant  num_sequences_total
0        Angola  2020-12-21         B.1.160                   93
1        Angola  2020-12-21         B.1.620                   93
2        Angola  2020-12-21         B.1.258                   93
3        Angola  2020-12-21         B.1.221                   93
4        Angola  2020-12-21       B.1.1.302                   93
...         ...         ...             ...                  ...
40705  Zimbabwe  2021-07-26              Mu                   35
40706  Zimbabwe  2021-07-26  S:677P.Pelican                   35
40707  Zimbabwe  2021-07-26   S:677H.Robin1                   35
40708  Zimbabwe  2021-07-26          others                   35
40709  Zimbabwe  2021-07-26         non_who                   35

[40710 rows x 4 columns]

In [ ]:
#NA값에 일괄적으로 특정값을 넣어주는 함수 FILLNA

In [ ]:
df.fillna(0,inplace=True)
df

,location,date,variant,num_sequences,perc_sequences,num_sequences_total
0,Angola,2020-12-21,B.1.160,0.0,0.0,93
1,Angola,2020-12-21,B.1.620,0.0,0.0,93
2,Angola,2020-12-21,B.1.258,0.0,0.0,93
3,Angola,2020-12-21,B.1.221,0.0,0.0,93
4,Angola,2020-12-21,B.1.1.302,0.0,0.0,93
...,...,...,...,...,...,...
40705,Zimbabwe,2021-07-26,Mu,0.0,0.0,35
40706,Zimbabwe,2021-07-26,S:677P.Pelican,0.0,0.0,35
40707,Zimbabwe,2021-07-26,S:677H.Robin1,0.0,0.0,35
40708,Zimbabwe,2021-07-26,others,0.0,0.0,35
40709,Zimbabwe,2021-07-26,non_who,0.0,0.0,35

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40710 entries, 0 to 40709
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   location             40710 non-null  object
 1   date                 40710 non-null  object
 2   variant              40710 non-null  object
 3   num_sequences        40710 non-null  float64
 4   perc_sequences       40710 non-null  float64
 5   num_sequences_total  40710 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.9+ MB

In [ ]:
df.describe()

       num_sequences  perc_sequences  num_sequences_total
count   40710.000000    40710.000000         40710.000000
mean      100.388160        6.504804          1836.343503
std      1338.099755       21.454741          6818.843214
min         0.000000       -0.010000            30.000000
25%         0.000000        0.000000            73.000000
50%         0.000000        0.000000           198.500000
75%         0.000000        0.000000           901.000000
max    105252.000000      100.000000        108168.000000

In [ ]:
#일괄적인 결측치 처리는 데이터분석에 적합하지 않다.
#따라서 열마다 해당하는 값으로 처리하는것이 적합함.

In [ ]:
df = pd.read_csv(DataUrl)
df['num_sequences'].fillna(0, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40710 entries, 0 to 40709
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   location             40710 non-null  object
 1   date                 40710 non-null  object
 2   variant              40710 non-null  object
 3   num_sequences        40710 non-null  float64
 4   perc_sequences       25371 non-null  float64
 5   num_sequences_total  40710 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.9+ MB

In [ ]:
df['perc_sequences'].fillna(0, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40710 entries, 0 to 40709
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   location             40710 non-null  object
 1   date                 40710 non-null  object
 2   variant              40710 non-null  object
 3   num_sequences        40710 non-null  float64
 4   perc_sequences       40710 non-null  float64
 5   num_sequences_total  40710 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.9+ MB

## 이상치 처리

In [ ]:
#이상치처리

In [ ]:
df.loc[df['perc_sequences']<0,'perc_sequences']=0
df.iloc[228:,:]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40710 entries, 0 to 40709
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   location             40710 non-null  object
 1   date                 40710 non-null  object
 2   variant              40710 non-null  object
 3   num_sequences        40710 non-null  float64
 4   perc_sequences       40710 non-null  float64
 5   num_sequences_total  40710 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.9+ MB

In [ ]:
df.describe()

       num_sequences  perc_sequences  num_sequences_total
count   40710.000000    40710.000000         40710.000000
mean      100.388160        6.504805          1836.343503
std      1338.099755       21.454741          6818.843214
min         0.000000        0.000000            30.000000
25%         0.000000        0.000000            73.000000
50%         0.000000        0.000000           198.500000
75%         0.000000        0.000000           901.000000
max    105252.000000      100.000000        108168.000000

In [ ]:
#특정칼럼의 값을 확인하는 방법 unique, value_counts

In [ ]:
df.location.unique()   #종류를 확인

array(['Angola', 'Argentina', 'Aruba', 'Australia', 'Austria', 'Bahrain',
       'Bangladesh', 'Belgium', 'Botswana', 'Brazil', 'Bulgaria',
       'Cambodia', 'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica',
       'Croatia', 'Curacao', 'Czechia', 'Denmark', 'Djibouti', 'Ecuador',
       'Estonia', 'Finland', 'France', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Latvia',
       'Lebanon', 'Lithuania', 'Luxembourg', 'Malawi', 'Malaysia',
       'Maldives', 'Malta', 'Mexico', 'Montenegro', 'Mozambique', 'Nepal',
       'Netherlands', 'New Zealand', 'Nigeria', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Suriname',
       'Sweden', 'Switzerland', 'Thailand', 'Togo', 'Trinidad and Tobago',
       'Turkey', 'Uganda', 'Ukraine', 'United Kingdom', 'United States',
       'Uruguay', 'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
len(df.location.unique())

95

In [ ]:
df.location.value_counts()  #해당 자료가 몇개 들었는지

Germany           851
Australia         851
Spain             851
United States     851
United Kingdom    851
                 ...
Montenegro         46
Nepal              46
Iraq               23
Jamaica            23
China              23
Name: location, Length: 95, dtype: int64

## How to make DataFrame to csv file

In [ ]:
#만들어진 데이터프레임을 csv파일로 만들기

In [ ]:
pd.DataFrame(df.location.value_counts())

                location
Germany              851
Australia            851
Spain                851
United States        851
United Kingdom       851
...                  ...
Montenegro            46
Nepal                 46
Iraq                  23
Jamaica               23
China                 23

[95 rows x 1 columns]

In [ ]:
df_location=pd.DataFrame(df.location.value_counts())
df_location.to_csv("corona_variant_location.csv",index=True)

In [ ]:
#내 하드드라이브에 있는 파일 올리는방법

from google.colab import files
files.upload()

Saving input.txt to input.txt

{'input.txt': b'10 3\r\n13 15 34 23 45 65 33 11 26 42'}

In [ ]:
#내 하드드라이브에 다운받는방법
files.download('/content/corona_variant_location.csv')

In [ ]:
from google.colab import drive
drive.mount("./drive")

Mounted at ./drive

# Pandas 중급자 2

## 데이터 전처리

In [ ]:

import pandas as pd

DataUrl = 'https://raw.githubusercontent.com/leadbreak/inflearn_lecture/main/datasets/Webtoon%20Originals%20Dataset.csv'

df = pd.read_csv(DataUrl)
df

,id,Name,Writer,Likes,Genre,Rating,Subscribers,Summary,Update,Reading Link
0,1,Let's Play,Leeanne M. Krecic (Mongie),30.6M,Romance,9.62,4.2M,"She's young, single and about to achieve her d...",UP EVERY TUESDAY,https://www.webtoons.com/en/romance/letsplay/l...
1,2,True Beauty,Yaongyi,39.9M,Romance,9.60,6.4M,"After binge-watching beauty videos online, a s...",UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/truebeauty...
2,3,Midnight Poppy Land,Lilydusk,10.4M,Romance,9.81,2.1M,After making a grisly discovery in the country...,UP EVERY SATURDAY,https://www.webtoons.com/en/romance/midnight-p...
3,4,Age Matters,Enjelicious,25.9M,Romance,9.79,3.5M,She's a hopeless romantic who's turning 30's ...,UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/age-matter...
4,5,Unholy Blood,Lina Im / Jeonghyeon Kim,9.9M,Supernatural,9.85,1.5M,When vampires destroy her chance to have the n...,UP EVERY THURSDAY,https://www.webtoons.com/en/supernatural/unhol...
...,...,...,...,...,...,...,...,...,...,...
1109,1110,WEBTOON Now,LOZOLZ / Wyatt the Cat,1.9M,Informative,9.25,459.2K,Get your WEBTOON news here!,UP EVERY MONDAY,https://www.webtoons.com/en/tiptoon/webtoon-no...
1110,1111,Staying Healthy Together,Various Artists,1.5M,Informative,9.76,204.6K,A series of tips for staying safe during the C...,COMPLETED,https://www.webtoons.com/en/tiptoon/staying-he...
1111,1112,Cooking Comically,Tyler Capps,"2,68,219",Informative,9.63,126.1K,Cooking Comically is an admittedly weird mash ...,COMPLETED,https://www.webtoons.com/en/tiptoon/cooking-co...
1112,1113,ã„´ã…‡ã„¹ã…‡ã„´ã„¹,LOZOLZ,"2,65,458",Informative,8.83,109.1K,The mysterious team that brings Webtoon to you...,COMPLETED,https://www.webtoons.com/en/tiptoon/lozolz/lis...
1113,1114,Illuminated,Rachel Song / Maria Nguyen,"1,27,401",Informative,9.33,112.5K,A WEBTOON x 88rising memoir series that spotli...,COMPLETED,https://www.webtoons.com/en/tiptoon/illuminate...

In [ ]:
df.info
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1114 entries, 0 to 1113
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1114 non-null   int64
 1   Name          1114 non-null   object
 2   Writer        1112 non-null   object
 3   Likes         1114 non-null   object
 4   Genre         1114 non-null   object
 5   Rating        1114 non-null   float64
 6   Subscribers   1114 non-null   object
 7   Summary       1114 non-null   object
 8   Update        1114 non-null   object
 9   Reading Link  1114 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 87.2+ KB

In [ ]:
df.describe()

                id       Rating
count  1114.000000  1114.000000
mean    557.500000     9.423025
std     321.728405     0.557015
min       1.000000     5.410000
25%     279.250000     9.320000
50%     557.500000     9.580000
75%     835.750000     9.730000
max    1114.000000     9.930000

In [ ]:
df.Likes.unique()

array(['30.6M', '39.9M', '10.4M', '25.9M', '9.9M', '18.9M', '2.9M',
       '9,29,796', '5.8M', '29M', '9.3M', '10.2M', '1.5M', '8.3M',
       '2,17,959', '10.8M', '7,90,313', '1.7M', '3.8M', '5.6M',
       '8,83,687', '33.9M', '2,18,511', '9.5M', '15.8M', '1,58,001',
       '7.2M', '2.3M', '3.2M', '3.5M', '2M', '60,620', '2.5M', '6,78,444',
       '4.5M', '3.9M', '5,35,638', '3.1M', '1,63,300', '9,91,292',
       '1,40,430', '9,73,686', '5M', '8,14,665', '7,92,670', '1.3M',
       '3,68,698', '1,94,208', '1,77,346', '1,85,973', '33,873',
       '9,84,245', '7,20,233', '1.1M', '2.1M', '1,84,029', '3,66,790',
       '3,23,100', '19,257', '4,96,930', '19,608', '6,93,249', '66,773',
       '1,91,969', '1,88,648', '1,44,623', '2,43,752', '2.4M', '3,54,005',
       '2,94,484', '82,708', '9,58,095', '1,75,864', '2,37,221',
       '2,40,863', '5,347', '2,16,838', '5,07,131', '9,49,502', '1M',
       '7M', '1,37,416', '10M', '4,52,501', '9M', '7.1M', '2.7M', '15.1M',
       '1,65,712', '6.9M', '11.3M', '6,32,714', '8,06,795', '8.2M',
       '2.8M', '7,25,410', '8.7M', '4,31,383', '1,71,129', '3.6M', '5.1M',
       '5,19,225', '1,37,397', '4,49,802', '9,39,184', '7,53,985',
       '16.8M', '5.4M', '3,26,792', '9,99,845', '8,19,435', '3,38,708',
       '3,24,180', '4.8M', '6,31,907', '2,79,266', '5,32,294', '3,58,952',
       '6,31,565', '2,60,167', '1,75,363', '9,47,855', '4,85,243',
       '6,83,414', '9,03,057', '1,19,309', '5,75,454', '1,91,244',
       '1,00,792', '2,04,219', '5,39,393', '75,414', '1,83,174',
       '1,76,230', '2,58,609', '70,537', '62,916', '95,069', '1,32,588',
       '19,366', '9,13,509', '15M', '3,95,821', '2,96,332', '5.9M',
       '27.3M', '6.1M', '8.5M', '5.2M', '5.7M', '2,35,099', '41.9M',
       '16.7M', '15.7M', '25.1M', '3M', '8,15,217', '8M', '9,88,273',
       '4M', '3,78,936', '44.1M', '10.3M', '1.8M', '4,04,104', '13.6M',
       '8,62,670', '2.2M', '5.3M', '4,05,764', '8,84,919', '1,79,307',
       '3,21,043', '8,88,119', '2,40,180', '30.3M', '9,56,554', '1.4M',
       '57,596', '3,44,200', '1,63,606', '2,94,930', '2,93,662',
       '3,62,055', '35,887', '1,56,511', '91,376', '5,07,497', '1,57,380',
       '37,280', '4,07,724', '1,37,684', '2,31,355', '2,50,517',
       '3,15,157', '1,26,479', '28,458', '35,758', '77,659', '32,228',
       '47,983', '2,23,054', '3,05,361', '21,232', '5,02,325', '20,926',
       '9.7M', '3,89,239', '1,89,800', '1,56,732', '2,26,852', '5,75,048',
       '4.6M', '3.3M', '2,434', '3,99,721', '1.6M', '3,01,953', '11.4M',
       '4,88,682', '4.7M', '3.4M', '6M', '22.3M', '19.5M', '4.1M',
       '3,42,838', '3,21,269', '1,49,983', '11.6M', '9,65,368',
       '2,23,996', '2.6M', '5,33,002', '1,28,748', '8,06,466', '8,47,763',
       '60,367', '1,39,498', '78,037', '1.2M', '7,05,384', '2,96,855',
       '4,47,176', '49,522', '94,845', '3,03,754', '1,54,621', '1,57,755',
       '2,64,872', '1,16,737', '1,36,252', '34,424', '3,75,582',
       '3,06,464', '18M', '50.6M', '1,57,109', '23.6M', '8,68,627',
       '37.4M', '51,923', '2,03,729', '19.6M', '52,234', '20.4M',
       '3,83,027', '3,77,178', '6,13,174', '7,35,275', '2,42,273',
       '9,574', '2,44,057', '7,45,623', '4.4M', '1.9M', '6,11,473',
       '7,41,512', '11.5M', '4.3M', '2,46,490', '3,47,524', '9.4M',
       '8.1M', '4,39,776', '6,35,608', '6,86,397', '7,05,353', '2,49,838',
       '8.4M', '4,95,421', '1,51,337', '1,82,208', '2,74,389', '7,63,081',
       '5,50,111', '2,69,676', '2,34,342', '3,89,269', '71,205', '68,599',
       '2,96,962', '3,96,601', '69,491', '5,74,834', '1,11,691', '18,246',
       '4,48,724', '2,32,083', '8,10,836', '8,234', '1,82,681', '7.4M',
       '16.5M', '4,04,736', '1,56,771', '2,13,687', '1,60,567', '23,386',
       '1,03,691', '17,988', '68,807', '3,16,029', '3,34,408', '1,03,396',
       '83,411', '1,54,408', '7,23,188', '2,15,458', '3,10,484', '51,417',
       '47,789', '41,165', '19,773', '3,25,758', '6,24,588', '44.2M',
       '14,920', '1,66,478', '8.8M', '17.9M', '1,42,360', '9,52,931',
       '3,85,296', '3,22,552', '1,09,527', '8,82,743', '2,68,219',
       '9,99,779', '94,050', '1,69,239', '27,848', '1,80,807', '1,67,908',
       '47,921', '50,949', '3,21,982', '1,27,401', '13.4M', '5,39,252',
       '87,165', '8,10,680', '6,35,533', '7,67,973', '3.7M', '1,00,309',
       '1,20,422', '5,63,373', '4,67,454', '6,13,917', '19.9M', '10.1M',
       '12.6M', '14M', '9,11,286', '4.9M', '9.8M', '6.8M', '5,77,031',
       '6,45,270', '31,774', '52,506', '6,14,921', '7,55,085', '4,11,458',
       '7.8M', '6,42,346', '2,72,788', '1,68,791', '1,65,250', '16.9M',
       '2,03,091', '3,78,065', '2,85,344', '3,77,712', '1,99,059',
       '2,68,329', '7,94,093', '98,531', '1,67,542', '8,02,309',
       '2,13,613', '1,56,290', '5,26,116', '8,11,022', '1,97,725',
       '22,238', '1,80,237', '4,89,423', '1,91,371', '8,76,729',
       '1,44,341', '8,66,428', '1,84,981', '2,65,458'], dtype=object)

In [ ]:
df.Likes=df.Likes.map(lambda x: x.replace(",","").replace("M","000000"))
df.Likes=df.Likes.map(lambda y: y if "." not in y else int(y.replace(".",""))*0.1).astype('int32')
df.Likes

0       30600000
1       39900000
2       10400000
3       25900000
4        9900000
          ...
1109     1900000
1110     1500000
1111      268219
1112      265458
1113      127401
Name: Likes, Length: 1114, dtype: int32

In [ ]:
df.head(10)

,id,Name,Writer,Likes,Genre,Rating,Subscribers,Summary,Update,Reading Link
0,1,Let's Play,Leeanne M. Krecic (Mongie),30600000,Romance,9.62,4.2M,"She's young, single and about to achieve her d...",UP EVERY TUESDAY,https://www.webtoons.com/en/romance/letsplay/l...
1,2,True Beauty,Yaongyi,39900000,Romance,9.60,6.4M,"After binge-watching beauty videos online, a s...",UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/truebeauty...
2,3,Midnight Poppy Land,Lilydusk,10400000,Romance,9.81,2.1M,After making a grisly discovery in the country...,UP EVERY SATURDAY,https://www.webtoons.com/en/romance/midnight-p...
3,4,Age Matters,Enjelicious,25900000,Romance,9.79,3.5M,She's a hopeless romantic who's turning 30's ...,UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/age-matter...
4,5,Unholy Blood,Lina Im / Jeonghyeon Kim,9900000,Supernatural,9.85,1.5M,When vampires destroy her chance to have the n...,UP EVERY THURSDAY,https://www.webtoons.com/en/supernatural/unhol...
5,6,LUMINE,Emma Krogell,18900000,Fantasy,9.82,3M,"A runaway werewolf, Lumine, meets a witch boy ...",UP EVERY SUNDAY,https://www.webtoons.com/en/fantasy/lumine/lis...
6,7,Jackson's Diary,Paola Batalla,2900000,Supernatural,9.66,649K,"The year is 1989, and Jackson is starting his ...",UP EVERY SUNDAY,https://www.webtoons.com/en/supernatural/jacks...
7,8,Teenage Mercenary,YC / Rakyeon,929796,Action,9.87,537.6K,"At the age of eight, Ijin Yu lost his parents ...",UP EVERY WEDNESDAY,https://www.webtoons.com/en/action/teenage-mer...
8,9,Nice To Meet You,Wishroomness,5800000,Romance,9.82,1.1M,A ditsy university student Mew finds a lost st...,UP EVERY MONDAY,https://www.webtoons.com/en/romance/nice-to-me...
9,10,I Love Yoo,Quimchee,29000000,Drama,9.78,4.3M,Dogged by pain and misfortune from the very be...,UP EVERY FRIDAY,https://www.webtoons.com/en/drama/i-love-yoo/l...

In [ ]:
df.Subscribers.unique()

array(['4.2M', '6.4M', '2.1M', '3.5M', '1.5M', '3M', '649K', '537.6K',
       '1.1M', '4.3M', '1M', '750.6K', '669.6K', '332.3K', '1.2M', '1.7M',
       '485.1K', '620.8K', '838.8K', '724K', '407.7K', '2.2M', '275.9k',
       '1.3M', '796.4K', '181.8K', '560.6K', '584.9K', '542.4K', '699K',
       '396.3K', '395.9K', '141.5K', '272.4K', '576.7K', '760.5K',
       '257.2K', '648.7K', '321.9K', '191.9K', '360K', '267.3K', '188.9K',
       '550K', '260.5K', '180.6K', '343.2K', '528.7K', '204.9K', '110K',
       '251.1K', '314K', '162.3K', '155.3K', '51.8K', '300K', '173.8K',
       '199.2K', '187.6K', '162.1K', '311.2K', '150.8K', '42.3K', '36K',
       '180K', '207.6K', '115.8K', '234.7K', '179.8K', '148K', '88.8K',
       '134.4K', '377K', '154.2K', '91.8K', '246.2K', '221.3K', '139.8K',
       '123.6K', '87.5K', '111.1K', '76.3K', '308.6K', '18.4K', '209.3K',
       '99.4K', '142.5K', '502.9K', '1.9M', '306.8K', '52K', '813.8K',
       '845.1K', '202.2K', '223.8K', '864.6K', '319K', '205.4K', '354.8K',
       '168.1K', '869.3K', '589.7K', '814.2K', '144.4K', '149.4K',
       '157.5K', '199K', '731.3K', '155.1K', '277.3K', '574.6K', '318.2K',
       '390.5K', '553.3K', '102K', '316.1K', '239.1K', '76.1K', '109.6K',
       '286.2K', '146.4K', '117.3K', '775.2K', '127.5K', '251.9K',
       '192.6K', '55.1K', '45.2K', '258K', '93.3K', '162.5K', '275.5K',
       '34.6K', '83.7K', '90.5K', '37.6K', '123.4K', '147.2K', '71K',
       '231.9K', '58.1K', '57.5K', '49.4K', '47.4K', '56.2K', '44.8K',
       '61K', '18.6K', '317.3K', '230.3K', '148.8K', '91K', '994.9K',
       '285.1K', '2M', '410.9K', '719.6K', '577.2K', '1.4M', '477.4K',
       '424.8K', '755.6K', '5.2M', '2.6M', '804.7K', '2.3M', '979.7K',
       '990.4K', '545.6K', '803.3K', '672.2K', '945.2K', '371.7K', '2.9M',
       '975.8K', '672.1K', '289.3K', '460.6K', '506.3K', '379.9K',
       '620.7K', '501.5K', '275.9K', '989.1K', '326.1K', '844.1K',
       '325.7K', '210.9K', '318.4K', '224.3K', '378.5K', '413K', '407.3K',
       '128.3K', '305.9K', '189.6K', '192.3K', '91.9K', '766K', '195.5K',
       '121.7K', '321.1K', '157.2K', '77.9K', '263.7K', '164.7K', '305K',
       '453.6K', '336.8K', '167.4K', '252.4K', '129.7K', '101.8K', '85K',
       '78K', '328.3K', '115.9K', '134.5K', '257.3K', '80.5K', '57.4K',
       '46.9K', '176.9K', '182.9K', '403.2K', '205.8K', '106K', '205.1K',
       '329.5K', '145.3K', '523.6K', '228.8K', '509.6K', '96K', '231.6K',
       '56.9K', '79.7K', '8.1K', '350K', '372.4K', '119K', '987.3K',
       '616.5K', '702.8K', '514.5K', '738K', '290.2K', '485.8K', '616.8K',
       '211.4K', '247.6K', '611.4K', '192.9K', '46.3K', '267.5K',
       '320.1K', '596.9K', '385.1K', '695.4K', '163.4K', '341.2K',
       '77.3K', '570.9K', '205.2K', '379.6K', '88.3K', '164.8K', '253.4K',
       '56.1K', '104.6K', '102.7K', '224.4K', '97.4K', '208.4K', '120.7K',
       '45.6K', '50.7K', '165.4K', '88.5K', '186K', '50.8K', '99.6K',
       '44K', '238.9K', '320.6K', '841.5K', '623.1K', '176K', '802.7K',
       '784.3K', '533.4K', '380.2K', '788.3K', '151.6K', '546.2K',
       '422.1K', '486.3K', '89.3K', '202.5K', '612.8K', '102.3K',
       '160.4K', '774.7K', '156.6K', '229K', '208.3K', '381.8K', '80.6K',
       '75.4K', '291.2K', '74.5K', '113.1K', '32K', '556.4K', '455.6K',
       '459.6K', '325.5K', '136.4K', '115.2K', '203.6K', '352.2K',
       '87.9K', '639.5K', '306.3K', '245.1K', '63.9K', '206.2K', '486.8K',
       '337.6K', '173.1K', '290.4K', '326.2K', '130.7K', '113.3K',
       '134.3K', '143.9K', '137.7K', '326.8K', '54.4K', '66.5K', '351.6K',
       '37.3K', '51.5K', '138.3K', '65.3K', '95.2K', '81.3K', '27.1K',
       '186.2K', '57.8K', '30K2', '80.2K', '27.8K', '85.4K', '14.4K',
       '71.7K', '15.5K', '5.4K', '39.9K', '189.4K', '23.1K', '80.4K',
       '7.4K', '18.8K', '265.2K', '282.8K', '636.5K', '983.6K', '207.5K',
       '642.3K', '749.4K', '164.1K', '138.1K', '64.1K', '145.8K',
       '351.1K', '45K', '513.2K', '95.1K', '150.5K', '124.6K', '54K',
       '586.4K', '145.9K', '108.4K', '116.8K', '201.3K', '58.7K', '97.9K',
       '31.5K', '34.3K', '25.5K', '17.2K', '208.1K', '5.1M', '537.2K',
       '547.6K', '17.1K', '328.5K', '261.5K', '841.1K', '464.4K',
       '653.3K', '109.5K', '254.9K', '25.7K', '102.6K', '126.1K', '56.6K',
       '18.3K', '29.5K', '13.8K', '51.2K', '30.1K', '12.4K', '17.3K',
       '112.5K', '2.4M', '452.3K', '669.7K', '901.9K', '386.8K', '484.1K',
       '588.9K', '711.7K', '144.1K', '531.2K', '233.3K', '257.1K',
       '469.2K', '331.2K', '294K', '658.6K', '351.9K', '542.7K', '186.6K',
       '295.2K', '205.9K', '184.6K', '919.5K', '3.1M', '613.5K', '400.4K',
       '717.5K', '205.7K', '610.3K', '270.3K', '109.8K', '514.2K', '248K',
       '121.3K', '20.5K', '221.2K', '391.8K', '139.1K', '119.5K',
       '527.7K', '384.4K', '396K', '710.5K', '363K', '445.7K', '321.5K',
       '108.8K', '435K', '86.3K', '2.8M', '87.6K', '190.5K', '379.5K',
       '108K', '317.1K', '223.6K', '187.3K', '396.5K', '371.9K', '68.6K',
       '202K', '386.1K', '361.8K', '97.7K', '966K', '67.1K', '200.7K',
       '426.5K', '248.1K', '443.9K', '284.5K', '112.9K', '31K', '52.7K',
       '152.6K', '818.2K', '242.1K', '164.3K', '66.3K', '376.9K', '60.4K',
       '459.2K', '204.6K', '109.1K'], dtype=object)

In [ ]:
for i in range(len(df)):
  df['Subscribers']=df['Subscribers'].str.lower()         #소문자로 변환

  if "k" in df['Subscribers'][i]:
    df['Subscribers'][i] = df['Subscribers'][i].replace("k","000")
  elif "m" in df['Subscribers'][i]:
    df['Subscribers'][i] = df['Subscribers'][i].replace("m","000000")
  
  if "." in df['Subscribers'][i]:
    df['Subscribers'][i] = str(int(int(df['Subscribers'][i].replace(".",""))*0.1))
    
    
df.Subscribers = df.Subscribers.astype('int32')
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,id,Name,Writer,Likes,Genre,Rating,Subscribers,Summary,Update,Reading Link
0,1,Let's Play,Leeanne M. Krecic (Mongie),30600000,Romance,9.62,4200000,"She's young, single and about to achieve her d...",UP EVERY TUESDAY,https://www.webtoons.com/en/romance/letsplay/l...
1,2,True Beauty,Yaongyi,39900000,Romance,9.60,6400000,"After binge-watching beauty videos online, a s...",UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/truebeauty...
2,3,Midnight Poppy Land,Lilydusk,10400000,Romance,9.81,2100000,After making a grisly discovery in the country...,UP EVERY SATURDAY,https://www.webtoons.com/en/romance/midnight-p...
3,4,Age Matters,Enjelicious,25900000,Romance,9.79,3500000,She's a hopeless romantic who's turning 30's ...,UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/age-matter...
4,5,Unholy Blood,Lina Im / Jeonghyeon Kim,9900000,Supernatural,9.85,1500000,When vampires destroy her chance to have the n...,UP EVERY THURSDAY,https://www.webtoons.com/en/supernatural/unhol...
...,...,...,...,...,...,...,...,...,...,...
1109,1110,WEBTOON Now,LOZOLZ / Wyatt the Cat,1900000,Informative,9.25,459200,Get your WEBTOON news here!,UP EVERY MONDAY,https://www.webtoons.com/en/tiptoon/webtoon-no...
1110,1111,Staying Healthy Together,Various Artists,1500000,Informative,9.76,204600,A series of tips for staying safe during the C...,COMPLETED,https://www.webtoons.com/en/tiptoon/staying-he...
1111,1112,Cooking Comically,Tyler Capps,268219,Informative,9.63,126100,Cooking Comically is an admittedly weird mash ...,COMPLETED,https://www.webtoons.com/en/tiptoon/cooking-co...
1112,1113,ã„´ã…‡ã„¹ã…‡ã„´ã„¹,LOZOLZ,265458,Informative,8.83,109100,The mysterious team that brings Webtoon to you...,COMPLETED,https://www.webtoons.com/en/tiptoon/lozolz/lis...
1113,1114,Illuminated,Rachel Song / Maria Nguyen,127401,Informative,9.33,112500,A WEBTOON x 88rising memoir series that spotli...,COMPLETED,https://www.webtoons.com/en/tiptoon/illuminate...

In [ ]:
#제목(Name)이 20글자 이상인 것들의 평균 레이팅을 구해보세요

In [ ]:
df[df.Name.str.len() >=20]['Rating'].mean()

9.42039130434783

In [ ]:
#이번에는 구독자가 상위 10% 안에 드는 웹툰의 업데이트 주기는 어떻게 나타나나 살펴보겠습니다.

In [ ]:
df[df.Subscribers > df.Subscribers.quantile(0.9)]['Update'].value_counts()

COMPLETED                 33
UP EVERY SUNDAY           14
UP EVERY THURSDAY         10
UP EVERY MONDAY           10
UP EVERY TUESDAY           8
UP EVERY WEDNESDAY         8
UP EVERY FRIDAY            8
UP EVERY SATURDAY          6
UP EVERY TUE, FRI          4
UP EVERY TUE, SAT          4
UP EVERY MON, WED, FRI     2
UP EVERY WED, SAT          2
Name: Update, dtype: int64

In [ ]:
df[df.Subscribers > df.Subscribers.quantile(0.9)]['Update'].value_counts().index[1]

'UP EVERY SUNDAY'

In [ ]:
#전체 웹툰 중 가장 많은 작품을 쓴 작가의 이름과 작품수, 
#상위 10% 이내에 드는 작품들 중 가장 많은 작품을 쓴 작가의 이름과 작품수를 출력하세요

In [ ]:
df[df.Writer != 'Various Artists'].Writer.value_counts()

Ilkwon Ha                         8
Dean Haspiel                      8
Seokwoo                           6
Bae Jin-Soo                       6
JH                                6
                                 ..
Reza Farazmand                    1
Mahoney & Akel / Ryan Dunlavey    1
David Danemen                     1
Sherard Jackson                   1
LOZOLZ                            1
Name: Writer, Length: 500, dtype: int64

In [ ]:
df[df.Subscribers > df.Subscribers.quantile(0.9)].Writer.value_counts()

Carnby Kim / Youngchan Hwang    4
Leeanne M. Krecic (Mongie)      2
Sangyoung Seong / Sang-A        2
WmW / Thabfu                    2
Mihi                            2
eon                             2
instantmiso                     2
Jeho Son / Kwangsu Lee          2
LICO                            2
Color_LES                       2
fishball                        2
Teo / Corey                     2
Shen                            2
JH                              2
uru-chan                        2
Sehoon Kim                      2
refrainbow                      2
Hanza Art                       2
Snailords                       2
Sejung                          2
jangjin / woombeee              2
Archie the Redcat               2
massstar                        2
SilentMaru                      2
Pookie Senpai                   2
R Schaeffer / Glamist           2
Merryweather / MAYUI            2
SIU                             2
Yaongyi                         2
sing N song / UMI               2
Lilydusk                        2
Enjelicious                     2
Lina Im / Jeonghyeon Kim        2
Emma Krogell                    2
Quimchee                        2
Remin                           2
Jungyoon / Taegeon              2
Taejun Pak                      2
Ephemerys / Sophism             2
Lee Hey                         2
Arechan                         2
lifelight                       2
Ahyun                           2
Alphatart / Sumpul              2
Ushio                           2
Swansgarden                     2
Nylana                          2
Rachel Smythe                   2
Junepurrr                       2
LambCat                         2
Wendy Lian Martin               2
Yongje Park                     2
GRAVEWEAVER                     2
Big Hit Ent. / LICO             1
Name: Writer, dtype: int64

In [ ]:
print("작가의 이름 :", df[df.Subscribers > df.Subscribers.quantile(0.9)].Writer.value_counts().index[0])

print("작품의 수 :", df[df.Subscribers > df.Subscribers.quantile(0.9)].Writer.value_counts()[0])

작가의 이름 : Carnby Kim / Youngchan Hwang
작품의 수 : 4

In [ ]:
#작품의 제목(Name)의 길이가 상위 10% 이거나 하위 10%인 작품들의 LIkes 표준편차를 구해보겠습니다.

In [ ]:
df[(df.Name.str.len() >= df.Name.str.len().quantile(0.9)) | (df.Name.str.len()<=df.Name.str.len().quantile(0.1))]['Likes'].std()

5563056.563500074

## 이상치 검사(IQR)

In [ ]:
#이상치 검사 (IQR)
IQR = df['Subscribers'].quantile(.75) - df['Subscribers'].quantile(.25)
IQR

459375.0

In [ ]:
# OUTLIERS

OUTLIERS = df[ (df['Subscribers'] <= df['Subscribers'].quantile(0.25) - 1.5 * IQR ) | (df['Subscribers'] >= df['Subscribers'].quantile(0.75) + 1.5 * IQR) ].reset_index(drop=True)
OUTLIERS

,id,Name,Writer,Likes,Genre,Rating,Subscribers,Summary,Update,Reading Link
0,1,Let's Play,Leeanne M. Krecic (Mongie),30600000,Romance,9.62,4200000,"She's young, single and about to achieve her d...",UP EVERY TUESDAY,https://www.webtoons.com/en/romance/letsplay/l...
1,2,True Beauty,Yaongyi,39900000,Romance,9.60,6400000,"After binge-watching beauty videos online, a s...",UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/truebeauty...
2,3,Midnight Poppy Land,Lilydusk,10400000,Romance,9.81,2100000,After making a grisly discovery in the country...,UP EVERY SATURDAY,https://www.webtoons.com/en/romance/midnight-p...
3,4,Age Matters,Enjelicious,25900000,Romance,9.79,3500000,She's a hopeless romantic who's turning 30's ...,UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/age-matter...
4,5,Unholy Blood,Lina Im / Jeonghyeon Kim,9900000,Supernatural,9.85,1500000,When vampires destroy her chance to have the n...,UP EVERY THURSDAY,https://www.webtoons.com/en/supernatural/unhol...
...,...,...,...,...,...,...,...,...,...,...
86,978,Devil Number 4,jangjin / woombeee,12600000,Supernatural,9.78,1700000,When a down-on-her-luck student runs out of mo...,COMPLETED,https://www.webtoons.com/en/supernatural/devil...
87,1009,Purple Hyacinth,Ephemerys / Sophism,9500000,Mystery,9.91,1300000,Her ability to detect lies has made her an out...,UP EVERY TUESDAY,https://www.webtoons.com/en/mystery/purple-hya...
88,1035,Ecstasy Hearts,SilentMaru,4400000,Sports,9.04,1300000,Shimizu Anya is the daughter of the two former...,COMPLETED,https://www.webtoons.com/en/sports/ecstasy-hea...
89,1082,Not Even Bones,R Schaeffer / Glamist,7000000,Thriller,9.70,1500000,Nita doesn't hunt supernatural beings and sell...,UP EVERY SUNDAY,https://www.webtoons.com/en/thriller/not-even-...
90,1093,Sweet Home,Carnby Kim / Youngchan Hwang,16900000,Thriller,9.85,2800000,"After an unexpected family tragedy, a reclusiv...",COMPLETED,https://www.webtoons.com/en/thriller/sweethome...

## 데이터프레임 병합

In [ ]:
#데이터프레임 병합

In [ ]:
df1 = df[:100]
df2 = df[100:200]
df3 = df[200:300]
df1

,id,Name,Writer,Likes,Genre,Rating,Subscribers,Summary,Update,Reading Link
0,1,Let's Play,Leeanne M. Krecic (Mongie),30600000,Romance,9.62,4200000,"She's young, single and about to achieve her d...",UP EVERY TUESDAY,https://www.webtoons.com/en/romance/letsplay/l...
1,2,True Beauty,Yaongyi,39900000,Romance,9.60,6400000,"After binge-watching beauty videos online, a s...",UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/truebeauty...
2,3,Midnight Poppy Land,Lilydusk,10400000,Romance,9.81,2100000,After making a grisly discovery in the country...,UP EVERY SATURDAY,https://www.webtoons.com/en/romance/midnight-p...
3,4,Age Matters,Enjelicious,25900000,Romance,9.79,3500000,She's a hopeless romantic who's turning 30's ...,UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/age-matter...
4,5,Unholy Blood,Lina Im / Jeonghyeon Kim,9900000,Supernatural,9.85,1500000,When vampires destroy her chance to have the n...,UP EVERY THURSDAY,https://www.webtoons.com/en/supernatural/unhol...
...,...,...,...,...,...,...,...,...,...,...
95,96,Days of Hana,Seokwoo,7100000,Drama,9.77,1000000,"Friends since childhood, Haru and Hana do not ...",COMPLETED,https://www.webtoons.com/en/drama/days-of-hana...
96,97,Where Tangents Meet,instantmiso,2700000,Romance,9.74,1100000,As Landon and Rachelle venture into falling in...,COMPLETED,https://www.webtoons.com/en/romance/where-tang...
97,98,My Dear Cold-Blooded King,lifelight,15100000,Romance,9.72,1900000,"Born a humble peasant, Kihara Mei has lived si...",COMPLETED,https://www.webtoons.com/en/romance/my-dear-co...
98,99,Death's Game,LEE WONSIK / GGULCHAN,1300000,Drama,9.75,306800,"He's perennially unemployed, his ex-girlfriend...",COMPLETED,https://www.webtoons.com/en/drama/deaths-game/...
99,100,The Golden Spoon,HD3,165712,Drama,9.07,52000,Would you trade your poor but loving family fo...,COMPLETED,https://www.webtoons.com/en/drama/the-golden-s...

In [ ]:
df2

,id,Name,Writer,Likes,Genre,Rating,Subscribers,Summary,Update,Reading Link
100,101,Girls of the Wild's,HUN / ZHENA,6900000,Action,9.57,813800,"Wild's High School, an all girls educational i...",COMPLETED,https://www.webtoons.com/en/action/girls-of-th...
101,102,Gourmet Hound,Leehama,11300000,Drama,9.82,845100,"Lucy, a woman with an uncanny sense of taste a...",COMPLETED,https://www.webtoons.com/en/drama/gourmet-houn...
102,103,Dear X,VANZIUN,632714,Thriller,9.56,202200,Ajin Baek is an actress at the top of her game...,COMPLETED,https://www.webtoons.com/en/thriller/dearx/lis...
103,104,House of Stars,saltacuentos / Lion Illustration,806795,Fantasy,9.80,223800,Lily is an adventuresome girl who lives in a b...,COMPLETED,https://www.webtoons.com/en/fantasy/house-of-s...
104,105,Oh! Holy,Ahyun,8200000,Romance,9.70,1500000,Who cares if you're invisible in high school w...,COMPLETED,https://www.webtoons.com/en/romance/oh-holy/li...
...,...,...,...,...,...,...,...,...,...,...
195,196,Tower of God,SIU,44100000,Fantasy,9.86,2900000,What do you desire? Money and wealth? Honor an...,UP EVERY MONDAY,https://www.webtoons.com/en/fantasy/tower-of-g...
196,197,The Blood of the Butterfly,SAM,8300000,Fantasy,9.75,332300,When a swarm of giant bugs threatens to wipe o...,UP EVERY SATURDAY,https://www.webtoons.com/en/fantasy/your-thron...
197,198,Your Throne,Remin,217959,Fantasy,9.81,1200000,Tensions are brewing under the seemingly calm ...,UP EVERY SATURDAY,https://www.webtoons.com/en/fantasy/blood-of-t...
198,199,Eleceed,Jeho Son / ZHENA,10300000,Action,9.93,975800,Jiwoo is a kind-hearted young man who harnesse...,UP EVERY TUESDAY,https://www.webtoons.com/en/action/eleceed/lis...
199,200,The Newlywed Diaryof a Witch and a Dragon,New lung / Dimang,2400000,Romance,9.28,672100,After spending the night with a recent hire of...,UP EVERY SUNDAY,https://www.webtoons.com/en/romance/the-newlyw...

In [ ]:
df3

,id,Name,Writer,Likes,Genre,Rating,Subscribers,Summary,Update,Reading Link
200,201,The Princess's Jewels,Hyun hoo Joo / Kumtata,1800000,Fantasy,9.05,289300,Princess Ariana de Secramise knows that becomi...,UP EVERY THURSDAY,https://www.webtoons.com/en/action/the-stronge...
201,202,The Strongest Florist,JYUN / Hong Cha,404104,Action,9.85,460600,Even though he's built like a fighter with a f...,UP EVERY SATURDAY,https://www.webtoons.com/en/fantasy/the-prince...
202,203,His Majesty's Proposal,Bloomy / INUS,1000000,Fantasy,9.08,506300,A broken engagement and one too many drinks ar...,UP EVERY SATURDAY,https://www.webtoons.com/en/fantasy/his-majest...
203,204,Hardcore Leveling Warrior,Sehoon Kim,13600000,Action,9.76,1200000,"Known as Hardcore Leveling Warrior, Ethan is t...",UP EVERY FRIDAY,https://www.webtoons.com/en/action/hardcore-le...
204,205,Dungeons & Artifacts,Zerowater / UMKY,862670,Action,9.55,379900,A dungeon-guiding gig goes sideways for explor...,UP EVERY MONDAY,https://www.webtoons.com/en/action/dungeons-an...
...,...,...,...,...,...,...,...,...,...,...
295,296,Crumbs,Whitherling,1600000,Romance,9.69,290200,"In a very special town, there's a very unusual...",COMPLETED,https://www.webtoons.com/en/romance/crumbs/lis...
296,297,Aerial Magic,walkingnorth,1500000,Fantasy,9.68,485800,The daily life of an apprentice witch.,COMPLETED,https://www.webtoons.com/en/fantasy/aerial-mag...
297,298,Dragnarok,KPJ / Magmi,431383,Fantasy,9.48,354800,"Dragnarok is a fantasy story set in Aradel, th...",COMPLETED,https://www.webtoons.com/en/fantasy/dragnarok/...
298,299,Phantom Paradise,Rurisen (L. Zhu),3300000,Fantasy,9.49,616800,A male concubine climbs his way up in the impe...,COMPLETED,https://www.webtoons.com/en/fantasy/phantom-pa...
299,300,Dragnarok: Descendants,KPJ / Magmi,342838,Fantasy,9.34,211400,"Chosen by the dragon gods, Kirym, a man who wi...",COMPLETED,https://www.webtoons.com/en/fantasy/dragnarok-...

In [ ]:
# with append
df1.append(df2)

,id,Name,Writer,Likes,Genre,Rating,Subscribers,Summary,Update,Reading Link
0,1,Let's Play,Leeanne M. Krecic (Mongie),30600000,Romance,9.62,4200000,"She's young, single and about to achieve her d...",UP EVERY TUESDAY,https://www.webtoons.com/en/romance/letsplay/l...
1,2,True Beauty,Yaongyi,39900000,Romance,9.60,6400000,"After binge-watching beauty videos online, a s...",UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/truebeauty...
2,3,Midnight Poppy Land,Lilydusk,10400000,Romance,9.81,2100000,After making a grisly discovery in the country...,UP EVERY SATURDAY,https://www.webtoons.com/en/romance/midnight-p...
3,4,Age Matters,Enjelicious,25900000,Romance,9.79,3500000,She's a hopeless romantic who's turning 30's ...,UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/age-matter...
4,5,Unholy Blood,Lina Im / Jeonghyeon Kim,9900000,Supernatural,9.85,1500000,When vampires destroy her chance to have the n...,UP EVERY THURSDAY,https://www.webtoons.com/en/supernatural/unhol...
...,...,...,...,...,...,...,...,...,...,...
195,196,Tower of God,SIU,44100000,Fantasy,9.86,2900000,What do you desire? Money and wealth? Honor an...,UP EVERY MONDAY,https://www.webtoons.com/en/fantasy/tower-of-g...
196,197,The Blood of the Butterfly,SAM,8300000,Fantasy,9.75,332300,When a swarm of giant bugs threatens to wipe o...,UP EVERY SATURDAY,https://www.webtoons.com/en/fantasy/your-thron...
197,198,Your Throne,Remin,217959,Fantasy,9.81,1200000,Tensions are brewing under the seemingly calm ...,UP EVERY SATURDAY,https://www.webtoons.com/en/fantasy/blood-of-t...
198,199,Eleceed,Jeho Son / ZHENA,10300000,Action,9.93,975800,Jiwoo is a kind-hearted young man who harnesse...,UP EVERY TUESDAY,https://www.webtoons.com/en/action/eleceed/lis...
199,200,The Newlywed Diaryof a Witch and a Dragon,New lung / Dimang,2400000,Romance,9.28,672100,After spending the night with a recent hire of...,UP EVERY SUNDAY,https://www.webtoons.com/en/romance/the-newlyw...

In [ ]:
#with concat
pd.concat([df1,df2],axis=1)     #옆으로 붙힌것

In [ ]:
#with concat
pd.concat([df1,df2],axis=0)     #아래로 붙힌것

,id,Name,Writer,Likes,Genre,Rating,Subscribers,Summary,Update,Reading Link
0,1,Let's Play,Leeanne M. Krecic (Mongie),30600000,Romance,9.62,4200000,"She's young, single and about to achieve her d...",UP EVERY TUESDAY,https://www.webtoons.com/en/romance/letsplay/l...
1,2,True Beauty,Yaongyi,39900000,Romance,9.60,6400000,"After binge-watching beauty videos online, a s...",UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/truebeauty...
2,3,Midnight Poppy Land,Lilydusk,10400000,Romance,9.81,2100000,After making a grisly discovery in the country...,UP EVERY SATURDAY,https://www.webtoons.com/en/romance/midnight-p...
3,4,Age Matters,Enjelicious,25900000,Romance,9.79,3500000,She's a hopeless romantic who's turning 30's ...,UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/age-matter...
4,5,Unholy Blood,Lina Im / Jeonghyeon Kim,9900000,Supernatural,9.85,1500000,When vampires destroy her chance to have the n...,UP EVERY THURSDAY,https://www.webtoons.com/en/supernatural/unhol...
...,...,...,...,...,...,...,...,...,...,...
195,196,Tower of God,SIU,44100000,Fantasy,9.86,2900000,What do you desire? Money and wealth? Honor an...,UP EVERY MONDAY,https://www.webtoons.com/en/fantasy/tower-of-g...
196,197,The Blood of the Butterfly,SAM,8300000,Fantasy,9.75,332300,When a swarm of giant bugs threatens to wipe o...,UP EVERY SATURDAY,https://www.webtoons.com/en/fantasy/your-thron...
197,198,Your Throne,Remin,217959,Fantasy,9.81,1200000,Tensions are brewing under the seemingly calm ...,UP EVERY SATURDAY,https://www.webtoons.com/en/fantasy/blood-of-t...
198,199,Eleceed,Jeho Son / ZHENA,10300000,Action,9.93,975800,Jiwoo is a kind-hearted young man who harnesse...,UP EVERY TUESDAY,https://www.webtoons.com/en/action/eleceed/lis...
199,200,The Newlywed Diaryof a Witch and a Dragon,New lung / Dimang,2400000,Romance,9.28,672100,After spending the night with a recent hire of...,UP EVERY SUNDAY,https://www.webtoons.com/en/romance/the-newlyw...

In [ ]:
#병합하는 방법 with concat
df1 = df.iloc[:, :5]
df2 = df.iloc[:, [0, 5, 6, 7, 8, 9]]
df1

,id,Name,Writer,Likes,Genre
0,1,Let's Play,Leeanne M. Krecic (Mongie),30600000,Romance
1,2,True Beauty,Yaongyi,39900000,Romance
2,3,Midnight Poppy Land,Lilydusk,10400000,Romance
3,4,Age Matters,Enjelicious,25900000,Romance
4,5,Unholy Blood,Lina Im / Jeonghyeon Kim,9900000,Supernatural
...,...,...,...,...,...
1109,1110,WEBTOON Now,LOZOLZ / Wyatt the Cat,1900000,Informative
1110,1111,Staying Healthy Together,Various Artists,1500000,Informative
1111,1112,Cooking Comically,Tyler Capps,268219,Informative
1112,1113,ã„´ã…‡ã„¹ã…‡ã„´ã„¹,LOZOLZ,265458,Informative
1113,1114,Illuminated,Rachel Song / Maria Nguyen,127401,Informative

In [ ]:
df2

,id,Rating,Subscribers,Summary,Update,Reading Link
0,1,9.62,4200000,"She's young, single and about to achieve her d...",UP EVERY TUESDAY,https://www.webtoons.com/en/romance/letsplay/l...
1,2,9.60,6400000,"After binge-watching beauty videos online, a s...",UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/truebeauty...
2,3,9.81,2100000,After making a grisly discovery in the country...,UP EVERY SATURDAY,https://www.webtoons.com/en/romance/midnight-p...
3,4,9.79,3500000,She's a hopeless romantic who's turning 30's ...,UP EVERY WEDNESDAY,https://www.webtoons.com/en/romance/age-matter...
4,5,9.85,1500000,When vampires destroy her chance to have the n...,UP EVERY THURSDAY,https://www.webtoons.com/en/supernatural/unhol...
...,...,...,...,...,...,...
1109,1110,9.25,459200,Get your WEBTOON news here!,UP EVERY MONDAY,https://www.webtoons.com/en/tiptoon/webtoon-no...
1110,1111,9.76,204600,A series of tips for staying safe during the C...,COMPLETED,https://www.webtoons.com/en/tiptoon/staying-he...
1111,1112,9.63,126100,Cooking Comically is an admittedly weird mash ...,COMPLETED,https://www.webtoons.com/en/tiptoon/cooking-co...
1112,1113,8.83,109100,The mysterious team that brings Webtoon to you...,COMPLETED,https://www.webtoons.com/en/tiptoon/lozolz/lis...
1113,1114,9.33,112500,A WEBTOON x 88rising memoir series that spotli...,COMPLETED,https://www.webtoons.com/en/tiptoon/illuminate...

In [ ]:
#공통되는 열만(id)을 갖고 병합하는 방법 : inner join

In [ ]:
pd.concat([df1,df2], join='inner',ignore_index=True)

        id
0        1
1        2
2        3
3        4
4        5
...    ...
2223  1110
2224  1111
2225  1112
2226  1113
2227  1114

[2228 rows x 1 columns]

In [ ]:
#어느 한쪽에라도 있는 칼럼은 모두 표시하는 방법 : outer join

In [ ]:
pd.concat([df1,df2], join='outer', ignore_index=True)

,id,Name,Writer,Likes,Genre,Rating,Subscribers,Summary,Update,Reading Link
0,1,Let's Play,Leeanne M. Krecic (Mongie),30600000.0,Romance,NaN,NaN,NaN,NaN,NaN
1,2,True Beauty,Yaongyi,39900000.0,Romance,NaN,NaN,NaN,NaN,NaN
2,3,Midnight Poppy Land,Lilydusk,10400000.0,Romance,NaN,NaN,NaN,NaN,NaN
3,4,Age Matters,Enjelicious,25900000.0,Romance,NaN,NaN,NaN,NaN,NaN
4,5,Unholy Blood,Lina Im / Jeonghyeon Kim,9900000.0,Supernatural,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2223,1110,NaN,NaN,NaN,NaN,9.25,459200.0,Get your WEBTOON news here!,UP EVERY MONDAY,https://www.webtoons.com/en/tiptoon/webtoon-no...
2224,1111,NaN,NaN,NaN,NaN,9.76,204600.0,A series of tips for staying safe during the C...,COMPLETED,https://www.webtoons.com/en/tiptoon/staying-he...
2225,1112,NaN,NaN,NaN,NaN,9.63,126100.0,Cooking Comically is an admittedly weird mash ...,COMPLETED,https://www.webtoons.com/en/tiptoon/cooking-co...
2226,1113,NaN,NaN,NaN,NaN,8.83,109100.0,The mysterious team that brings Webtoon to you...,COMPLETED,https://www.webtoons.com/en/tiptoon/lozolz/lis...
2227,1114,NaN,NaN,NaN,NaN,9.33,112500.0,A WEBTOON x 88rising memoir series that spotli...,COMPLETED,https://www.webtoons.com/en/tiptoon/illuminate...

In [ ]:
#id값을 기준으로 병합하는 것 keys!!

In [ ]:
pd.concat([df1, df2], axis=1, join='inner', keys='id')

         i                                                                  \
        id                      Name                      Writer     Likes
0        1                Let's Play  Leeanne M. Krecic (Mongie)  30600000
1        2               True Beauty                     Yaongyi  39900000
2        3       Midnight Poppy Land                    Lilydusk  10400000
3        4               Age Matters                 Enjelicious  25900000
4        5              Unholy Blood    Lina Im / Jeonghyeon Kim   9900000
...    ...                       ...                         ...       ...
1109  1110               WEBTOON Now      LOZOLZ / Wyatt the Cat   1900000
1110  1111  Staying Healthy Together             Various Artists   1500000
1111  1112         Cooking Comically                 Tyler Capps    268219
1112  1113        ã„´ã…‡ã„¹ã…‡ã„´ã„¹                      LOZOLZ    265458
1113  1114               Illuminated  Rachel Song / Maria Nguyen    127401

                       d                     \
             Genre    id Rating Subscribers
0          Romance     1   9.62     4200000
1          Romance     2   9.60     6400000
2          Romance     3   9.81     2100000
3          Romance     4   9.79     3500000
4     Supernatural     5   9.85     1500000
...            ...   ...    ...         ...
1109   Informative  1110   9.25      459200
1110   Informative  1111   9.76      204600
1111   Informative  1112   9.63      126100
1112   Informative  1113   8.83      109100
1113   Informative  1114   9.33      112500

                                                                             \
                                                Summary              Update
0     She's young, single and about to achieve her d...    UP EVERY TUESDAY
1     After binge-watching beauty videos online, a s...  UP EVERY WEDNESDAY
2     After making a grisly discovery in the country...   UP EVERY SATURDAY
3     She's a hopeless romantic who's turning 30's  ...  UP EVERY WEDNESDAY
4     When vampires destroy her chance to have the n...   UP EVERY THURSDAY
...                                                 ...                 ...
1109                        Get your WEBTOON news here!     UP EVERY MONDAY
1110  A series of tips for staying safe during the C...           COMPLETED
1111  Cooking Comically is an admittedly weird mash ...           COMPLETED
1112  The mysterious team that brings Webtoon to you...           COMPLETED
1113  A WEBTOON x 88rising memoir series that spotli...           COMPLETED


                                           Reading Link
0     https://www.webtoons.com/en/romance/letsplay/l...
1     https://www.webtoons.com/en/romance/truebeauty...
2     https://www.webtoons.com/en/romance/midnight-p...
3     https://www.webtoons.com/en/romance/age-matter...
4     https://www.webtoons.com/en/supernatural/unhol...
...                                                 ...
1109  https://www.webtoons.com/en/tiptoon/webtoon-no...
1110  https://www.webtoons.com/en/tiptoon/staying-he...
1111  https://www.webtoons.com/en/tiptoon/cooking-co...
1112  https://www.webtoons.com/en/tiptoon/lozolz/lis...
1113  https://www.webtoons.com/en/tiptoon/illuminate...

[1114 rows x 11 columns]